# Ignore https certs
RESTful_API/https/*

#Ingnore specific files from .data
RESTful_API/.data/users/*
RESTful_API/.data/tokens/*
RESTful_API/.data/checks/*

#Ignore files specific to vim
RESTful_API/*.vim

#Ignore diff scratch directory
RESTful_API/diff
